__pycache__/
*.pyc
results/

# generados
results/
vectors/golden/
vectors/patterns/*.raw
*.raw
*.pgm
# binarios/temporales sim
downscale_ref_cpp
tb_top_sv_simd
*.vvp
tb_top_sv
tb_coords
tb_bilinear
# python cache
__pycache__/
*.pyc
# Vscode
.vscode/*
# Quartus
tb/JTAG/dsa/pc/dsa_jtag_driver
tb/JTAG/dsa/quartus/incremental_db
tb/JTAG/dsa/quartus/output_files/greybox_tmp
tb/JTAG/dsa/quartus/output_files/*.rpt
tb/JTAG/dsa/quartus/output_files/*.cdf
tb/JTAG/dsa/quartus/output_files/*.jdi
tb/JTAG/dsa/quartus/output_files/*.pin
tb/JTAG/dsa/quartus/output_files/*.sld
tb/JTAG/dsa/quartus/output_files/*.done
tb/JTAG/dsa/quartus/output_files/*.smsg
tb/JTAG/dsa/quartus/output_files/*.summary
tb/JTAG/dsa/quartus/simulation
tb/JTAG/dsa/quartus/db/
tb/JTAG/dsa/quartus/dsa_jtag_sys/
tb/JTAG/dsa/quartus/.qsys_edit/
tb/JTAG/dsa/quartus/*.v
tb/JTAG/dsa/quartus/*.tcl
tb/JTAG/dsa/quartus/*.txt
tb/JTAG/dsa/quartus/*.qip
tb/JTAG/dsa/quartus/*.qdf
tb/JTAG/dsa/quartus/*.rpt
*.qsf
*.qpf
*.sopcinfo
*.qsys
# Archivos de respaldo del editor
*.sv.bak
*.bak