__pycache__/
*.pyc
results/

# generados
results/
vectors/golden/
vectors/patterns/*.raw
*.raw
*.pgm
# binarios/temporales sim
*.vvp
tb_top_sv
tb_coords
tb_bilinear
# python cache
__pycache__/
*.pyc
# Vscode
.vscode/*
# Quartus
tb/JTAG/dsa/pc/dsa_jtag_driver
tb/JTAG/dsa/quartus/incremental_db
tb/JTAG/dsa/quartus/output_files
tb/JTAG/dsa/quartus/simulation
# Archivos de respaldo del editor
*.sv.bak
*.bak
